

.project-img {
  height: 120px;
  border-radius: 8px;
}
.img-1 { background: rgb(86, 85, 85); }
.img-2 { background:green; }
.img-3 { background:pink;}

.sidebar { margin-top: 16px; }


.mobile-only { display: block; }
.tablet-up   { display: none; }
.desktop-only { display: none; }


@media (min-width: 768px) {
  body { font-size: 1rem; }
  main { padding: 28px; }
  .section-title { font-size: 1.7rem; margin-bottom: 16px; }
  .project-img { height: 150px; }
  .sidebar { margin-top: 24px; }
  footer { padding: 18px; font-size: 1rem; }

  .mobile-only { display: none; }
  .tablet-up   { display: block; }
  footer .tablet-up { display: inline; }
}


@media (min-width: 992px) {
  body { font-size: 1.25rem; }
  main { padding: 40px}
  .section-title { font-size: 2rem; margin-bottom: 20px; }
  .project-img { height: 170px; }
  .sidebar { margin-top: 0; }
  footer { padding: 24px; font-size: 1.25rem; }

  .desktop-only { display: block; }
}
